
{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <div id="uploadContainer">
        <h1>Image Background Removal</h1>
        <input type="file" id="imageUpload" accept="image/*" />
        <div id="previewContainer">
            <img id="previewImage" src="" alt="Vorschau" style="display: none;" />
        </div>
        <button id="removeBackgroundButton" style="display: none;">Hintergrund entfernen</button>
    </div>


    <script src=" {{ url_for('static',filename='IBR/IBR.js') }}"></script>

{% endblock %}